<!-- Esta es la pagina del BUSCADOR -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seach prueba</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles-buscador.css" />
  </head>

  <body>
    <header class="top-bar">
      <img src="images/menu.svg" alt="Menu" class="icon-size-menu" />
      <h3 class="sec-titles">Buscar</h3>
      <div class="container-relative">
        <a href="/carrito">
          <img
            src="images/carrito.svg"
            alt="Carrito de compras"
            class="icon-size-shopping"
          />
          <p class="quantity-cart">0</p>
        </a>
      </div>
    </header>

    <div class="search-block">
      <img src="images/buscar-lupa.svg" alt="prueba" class="lupa" />
    </div>

    <main class="main-margin">
      <div class="flex">
        <div class="category-block">
          <p class="category-letter">Hombre</p>
        </div>
        <div class="category-block">
          <p class="category-letter">Mujer</p>
        </div>
        <div class="category-block">
          <p class="category-letter">Chicos</p>
        </div>
        <div class="category-block">
          <p class="category-letter">Accesorios</p>
        </div>
      </div>
      <div class="text-flex">
        <p class="subtitle">Visto Recientemente</p>
        <p class="mini-text">Ir al Historial</p>
      </div>

      <!-- Tengo que ver como hacer esto -->

      <div>
        <article class="container">
          <article class="product"></article>
          <div class="product-properties">
            <p class="product-title">Nombre del producto</p>
            <p class="product-price">$0.00</p>
            <p class="envio">Envio gratis</p>
          </div>
        </article>
      </div>
      <div>
        <article class="container">
          <article class="product"></article>
          <div class="product-properties">
            <p class="product-title">Nombre del producto</p>
            <p class="product-price">$0.00</p>
            <p class="envio">Envio gratis</p>
          </div>
        </article>
      </div>
      <div>
        <article class="container">
          <article class="product"></article>
          <div class="product-properties">
            <p class="product-title">Nombre del producto</p>
            <p class="product-price">$0.00</p>
            <p class="envio">Envio gratis</p>
          </div>
        </article>
      </div>
    </main>

    <%- include ("partials/footer.ejs") %>
   
  </body>
</html>
