<!DOCTYPE html>
<html lang="en">

        <%- include ("partials/head.ejs") %>
        <!-- <link rel="stylesheet" href="/css/userLikes.css" /> -->
        <link rel="stylesheet" href="/css/forgot-password.css">
        <title>Recuperar Contraseña</title>
    </head>



<%- include("partials/header") %> 
<body class="background">
    <!--<header>
        <div class="flex-header-inicio">
            <div><i class="fas fa-arrow-left"></i></div>
            <div class="right-navbar">
                
                <div class="cambio-color"><a href="#"><t>Ayuda </t><i class="far fa-question-circle"></i></a></div>
                <div class="cambio-color"><a href="#"><t>Buscar </t><i class="fas fa-search"></i></a></div>
                <div class="cambio-color"><a href="#"><t>Carrito </t><i class="fas fa-shopping-cart"></i></a></div>
            </div>
            
        </div>
        <div class="titulo"><h1>TuTuni</h1></div>
    </header> -->
    <main>
        <div class="below-head-bar">
            <div class="password-container-location">
                <div class="password-container">
                
                    <div class="title"><h3>Recuperar Constraseña</h3></div>
                    <div class="text">No te preocupes, recuperar la contraseña es bastante sencillo, basta con ingresar tu direccion 
                        de correo electronico usado para la cuenta y te enviaremos las instrucciones.</div>
                    <div class="email-confirmation">
                        <input type="text" name="email" id="email" placeholder="E-mail">
                    </div>
                    <button class="button" type="submit">Enviar</button>
                
                </div>
            </div>
        </div>

    </main>
    <%- include ("partials/footer.ejs") %>

</body>
</html>