<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion - Tutuni</title>
    <script src="https://kit.fontawesome.com/15b3f3326b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/tutuni-inicio.registro.css">
    <link rel="stylesheet" href="/css/tutuni-inicio.registrotablet.css">
    <link rel="stylesheet" href="/css/tutuni-inicio.registrolaptop.css">
    <link rel="stylesheet" href="/css/recupero.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>



<body>
    <header>
        <div class="flex-header-inicio">
            <div><i class="fas fa-arrow-left"></i></div>
            <div class="right-navbar">
                
                <div class="cambio-color"><a href="#"><t>Ayuda </t><i class="far fa-question-circle"></i></a></div>
                <div class="cambio-color"><a href="#"><t>Buscar </t><i class="fas fa-search"></i></a></div>
                <div class="cambio-color"><a href="#"><t>Carrito </t><i class="fas fa-shopping-cart"></i></a></div>
            </div>
            
        </div>
        <div class="titulo"><h1>TuTuni</h1></div>
    </header>
    <main>

<div class="flex-contenedor">
    
        <div><h3>RECUPERAR CONTRASEÑA</h3></div>
        <div><t>No te preocupes, recuperar la contraseña es bastante sencillo, basta con ingresar tu direccion 
            de correo electronico usado para la cuenta y te enviaremos las instruccion</t></div>
        <div><input type="text" name="email" id="email" placeholder="E-mail"></div>
        <div><button type="submit">Enviar</button></div>
        

    

</div>


    </main>

</body>
</html>