/* ---------- HEADER -TOP BAR- ---------  */

.header{
    background: var(--bg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2%;
    border-bottom: .1rem solid rgba(255, 239, 239, 0.3);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 100;
}

.header .burguer{
    width: 4rem;
    height: 2.5rem;
}
    /* PROBANDO LA BARRA LATERAL DEL BURGUER*/

#menu {
    position: fixed;
    width: 20rem;
    height: 22.5rem;
    border-end-end-radius: 1.5rem;
    background-color: rgba(37, 37, 37, 0.88);
    top: 6.55rem;
    left: -20rem;
}
    
#menu ul li {
    color: #fff;
    font-size: 2rem;
    list-style: none;
    text-align: center;
    padding: 1rem 0.5rem;
    /* border-bottom: 1px solid rgb(100, 100, 100, .88); */
}
    
#menu.mostrar {
    left: 0
}

    /* PROBANDO LA BARRA LATERAL DEL BURGUER*/


.header .logo img{
    height: 6rem;
}

.header .navbar{
    display: none;
}

.header .right-icons{
    color:var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
}
.header .right-icons-tablet{
    display: none;
}

.header .right-icons-mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
}

.header a{
    color:var(--white);
    /* border: 1px solid white; */
}
.header .lupa{
    width: 2.3rem;
    height: 2.3rem;
    margin: 0.5rem 0.2rem 0;
    /* border: 1px solid white; */
}
.header .carrito{
    width: 2.7rem;
    height: 2.7rem;
    margin-top: 0.5rem;
    /* border: 1px solid white; */
}


.header .image img{
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0 0 0 0.2rem white;
    transform: scale(1.1);
    object-fit: cover;
}


.footer .gradient-footer {
    position: fixed;
    width: 100%;
    height: 12rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.4573179613642332) 36%, rgba(0,0,0,0) 100%);
}

.footer .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
}

.icon-size-home {
    width: 2.5rem;
    height: 2.5rem;
}

.footer .icon-size-lupa {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
}

.footer .icon-size-mi-cuenta {
    width: 2.5rem;
    height: 2.5rem;
}
.footer .footer-text {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    color: var(--white);
}
.footer .contenedor-footer {
    text-align: center;
    margin-top:6rem;
}




@media (min-width:768px){
    section{
        padding:2rem 3%;
    }

    .header .navbar{
        display: flex;
    }

    .header .navbar a{
        margin: 0 1rem;
        font-size: 1.8rem;
        color:var(--white);
    }

    .header .navbar a:hover{
        color:var(--main-color);
        border-bottom: .1rem solid var(--main-color);
        padding-bottom: .5rem;
    }

    .header .right-icons-tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 16rem;
        margin-right: 1.5rem;
    }
    .header .right-icons{
        width: 25.2rem;
    }

    .header .right-icons-mobile{
        width: 14rem;
    }

    .header .carrito{
        margin-right: 1rem;
        /* border: 1px solid white; */
    }
    

    .footer {
        display:none;
    }
}


/* ---------- ANIMACIONES ---------- */
.animation-down{
    opacity: 0;
    animation-name: animation-down;
    animation-duration: 4s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes animation-down {
    0% {
      transform: translateY(-50px);
      opacity: 0;
  }
  20% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
       transform: translateY(0);
       opacity: 1;
  }
}