a{
    text-decoration: none;
}
/*---------- BARRA DE ARRIBA ---------- */

.position-top-bar{
    position: fixed;
    width: 100%;
    z-index:1;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 55px 35px 0;
}
.icon-size-menu {
    width: 38px;
    height: 20.19px;
}

.container-relative{
    position:relative
}
.icon-size-shopping{
    width: 32.6px;
    height: 30px;
}
.quantity-cart {
    position: absolute;
    left: 32px;
    bottom:32px;
    font-weight: 600;
    font-size: 9px;
    margin: 0px;
}
.background-tutuni{
    width: 146px;
    height: 35px;
    background-color: black;
}

.tutuni {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin: 5px;
}
.item-margin{
    margin:10px 7px 0px;
}
.text-center{
    text-align: center;
}
.product-title{
    color: #292a33;
    font-family: Source Sans,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2857142857;
    text-align: center;
    margin: 0 5%;
    padding:20px;
    letter-spacing: 0.01px;
    
}
.product-image{
    width: 100%;
    display: block;
}

.price{
color: #292a33; 
font-family: Source Sans,sans-serif;
font-weight: 700;
padding: 23px 15px 15px;
    
}
.size-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0px 10px;
    padding: 10px 0px 0px 20px;
    border-top:1.5px solid #f5f4f2 ; 

}
.size-circle{
    display: flex;
    height: 46px;
    width: 46px;
    border-radius: 100%;
    color: #292a33;
    justify-content: center;
    align-items: center;
    background-color:#f5f4f2;   
    border: 1px solid #f5f4f2;
    font-weight: 700;
    margin: 0px 2.5px;
    cursor: pointer;    
}

.size-circle:hover{
    background-color: #494d59;
    border-color:#494d59;
    color: #fcfcfa;
}
.size-guide{
border-width: 0;
font-family: Source Sans,sans-serif;
font-size: 1rem;
font-weight: 700;
letter-spacing: .02rem;
line-height: 1.2;
min-height: 25px;
padding: 0 0;
text-transform: capitalize;
background-color: transparent;
color: #1477b2;

text-decoration: none;
padding-left: 15px;
}
    
.container-cantidad-añadir{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    justify-content: center;
    align-items: center;

}
.select {
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    font-size: 1.3rem;
    height: 60px;
    line-height: 1.5;
    padding-left: 0;
    padding-top: 18px;
    margin-left: 10px;
    font-weight: 300;
    margin-right: 10px;
    cursor: pointer;
}
.select:hover{
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-color:#1477b2;
}
.addtocart-button{
	align-items: center;
	border-radius: 50px;
	border-style: solid;
    margin-left: 10px;
    margin-right: -10px;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-family: Source Sans,sans-serif;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .02rem;
	min-height: 50px;
	padding: 0 38px;
	width: 98%;
	background-color: #1477b2;
	background-image: linear-gradient(153.43deg,#1b99b9,#0a5992);
	color: #fcfcfa;
    cursor: pointer;
}
.addtocart-button:hover{
    background-color: #292a33;
    color: #fcfcfa;
    background-image: none;
}
.saveforlater{  
border-width: 0;
font-family: Source Sans,sans-serif;
font-size: 1rem;
font-weight: 700;
letter-spacing: .02rem;
line-height: 1.2;
min-height: 25px; 
background-color: transparent;
color: #1477b2;
text-decoration: none;
padding-left: 15px;
    }
.item-margin-saveforlater{
    margin: 25px 7px 0px;
}
    
.saveforlater:hover{
    color: #292a33;
}
