:root{
    --main-color:rgb(140, 240, 140);
    --white: rgb(255, 255, 255);
    --grey: rgb(230, 222, 222);
    --black:#13131a;
    --bg:#010103;
}

*{
    font-family: 'Montserrat', sans-serif; 
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}
       
html{
    font-size: 62.5%;
    /* Snook trick so rem looks easier to know the amount
    1rem = 10px  1,4rem = 14px */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.background{
    background:url(../images/fondo-verde-mobile.jpg) no-repeat;
    background-size: cover;
}

/*--------------------------------------------*/


body main {
    margin:3rem;
}

.below-head-bar{
    margin: 9.5rem 0 13rem;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
    text-align: center;
}

.register-box{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem 1rem 1rem 1rem;
}

.flex-form-re {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%;  
    justify-content: space-between; */
}

.flex-form-re label {
    font-size: 1.7rem;
}

.flex-form-re .m-top {
    margin-top: 3.5rem;
    width: 100%;
}
.flex-form-re input {
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: grey 0.5px solid;
}


.button-flex{
    display: flex;
    justify-content: space-around;
}

.flex-form-re button {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    background-color: #1477b2;
    color: var(--white);
    font-weight: 500;
    height: 3rem;
}

button:hover {
    background-color: darkblue;
}

.redirect{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-text{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.redirect-link{
    font-size: 1.5rem;
    border-bottom: blue 1px solid;
}

.is-valid {
    border-color: green
}

.is.invalid {
    border-color: red
}