:root{
  --main-color:rgb(140, 240, 140);
  --white: rgb(255, 255, 255);
  --grey: rgb(230, 222, 222);
  --black:#13131a;
  --bg:#010103;
}

*{
  font-family: 'Montserrat';
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: .2s linear;
}
     
html{
  font-size: 62.5%;
  /* Snook trick so rem looks easier to know the amount
  1rem = 10px  1,4rem = 14px */
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

.background{
  background:url(../images/fondo-verde-mobile.jpg) no-repeat;
  background-size: cover;
}

main {
  margin:3rem;
}

.below-head-bar{
  margin: 9.5rem 0 13rem;
}

.title{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.cart-box-location{
  display: flex;
  justify-content: center;
}

.cart-box{
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  max-width: 90rem;
  margin: 4rem auto;
}

.cart-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.m-2{
  margin: 0 1rem 1rem 1rem;
}

.cart-flex .title{
  font-size: 1.5rem;
  font-weight: 500;
}

.color{
  background-color: rgb(240, 238, 234);
  border-radius: 1rem;
  padding: 1rem;
}

.cart-info img{
  width: 10rem;
  height: 10rem;
}

.cart-info p{
  font-size: 1.3rem;
  text-align: center;
}

.cart-info a{
  font-size: 1.4rem;
}

.cart-flex input{
  width: 5rem;
  margin-right: 2rem;
}

.article-price{
  font-size: 2rem;
}

.container-envio {
  color: var(--black);
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.button-location{
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  background-color: #1477b2;
  color: var(--white);
  font-weight: 500;
  height: 3rem;
  width: 20rem;
  margin-top: 1.5rem;
}

button:hover {
  background-color: darkblue;
}

/* Hasta aca correción Mati */


@media(min-width:600px){

  .m-2{
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  .cart-flex .title{
    font-size: 1.8rem;
  }

  .cart-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .cart-info p{
    font-size: 1.6rem;
    text-align:left;
    margin-left: 1rem;
  }

  .cart-info a{
    margin-left: 1rem;
  }

  .cart-flex input{
    margin-right: 14rem;
  }

  .pay-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .button {
    margin-top: 0rem;
  }
  
  .background{
    background:url(../images/fondo-verde-desktop.jpg) no-repeat;
  }
}  