:root{
    --main-color:rgb(140, 240, 140);
    --white: rgb(255, 255, 255);
    --grey: rgb(230, 222, 222);
    --black:#13131a;
    --bg:#010103;
  }
  
*{
    font-family: 'Montserrat';
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}
       
html{
    font-size: 62.5%;
    /* Snook trick so rem looks easier to know the amount
    1rem = 10px  1,4rem = 14px */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
  
.background{
    background:url(../images/fondo-verde-mobile.jpg) no-repeat;
    background-size: cover;
}
  
main {
    margin:3rem;
}
  
.below-head-bar{
    margin: 9.5rem 0 13rem;
}

.password-container-location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container{
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    width: 90%;
    max-width: 50rem;
}

.password-container .title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.password-container .email-confirmation{
    margin-top: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
    padding: 0.5rem;
    width: 80%;
}

.password-container input{
    width: 100%;
}

.password-container .text{
    font-size: 1.5rem;
    padding: 1rem;
}

.password-container .button{
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    background-color: #1477b2;
    color: var(--white);
    font-weight: 500;
    height: 3rem;
    width: 80%;
    margin-top: 1rem;
}

.button:hover {
    background-color: darkblue;
}

@media (min-width:1164px){
    .background{
        background:url(../images/fondo-verde-desktop.jpg) no-repeat;
        background-position: center;
    }
}
