:root{
    --main-color:rgb(140, 240, 140);
    --white: rgb(255, 255, 255);
    --grey: rgb(230, 222, 222);
    --black:#13131a;
    --bg:#010103;
}

*{
    font-family: 'Montserrat';
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}
       
html{
    font-size: 62.5%;
    /* Snook trick so rem looks easier to know the amount
    1rem = 10px  1,4rem = 14px */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.background{
    background:url(../images/fondo-verde-mobile.jpg) no-repeat;
    background-size: cover;
}

/* Lo de aca arriba creo que iria en el navbar-footer.css,
después ver y corregir */

.below-head-bar{
    margin: 9.5rem 0 13rem;
}

.product-title{
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    display: block;
    text-align: center;
    background-color: transparent;
    margin-bottom: 1.5rem;
}

.images{
    margin: 0rem 2rem 1rem;
    display:flex;
    justify-content: center;
}



.images .images-container{
    /* width: 38.8rem; */
    /* height: 31rem; */
    width: 96.7%;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
}

.images .images-container::after {
    content: '';
    display: block;
    padding-top: calc(100% / (16/12));
   }

.images .flex-image-small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.images .image-small{
    width: 100%;
    height: 23%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.images .add-image-small{
    width: 45%;
    height: 50%;
}

.images .main-image-container{
    width: 78%;
    margin-left: 2%;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
}

.images .main-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image{
    width: 100%;
    display: block;
}

.size{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.size-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.size-circle{
    display: flex;
    height: 4.6rem;
    width: 4.6rem;
    border-radius: 100%;
    color: #292a33;
    justify-content: center;
    align-items: center;
    background-color: var(--white);   
    font-weight: 700;
    margin: 0rem 0.2rem;
    cursor: pointer;    
}

.size-circle:hover{
    background-color: #494d59;
    border-color:#494d59;
    color: #fcfcfa;
}

.size-guide{
    font-size: 1.5rem;
    color: var(--white);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.size-guide .ruler{
    margin-right: 1rem;
    font-size: 2rem;
} 

.product-price{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
}

.article-info{
    background-color: var(--white);
    margin: 2rem 3rem 0rem;
    border-radius: 1rem;
    padding: 1rem;
}

.tachado{
    text-decoration: line-through;
    font-weight: 400;
    font-size: 1rem;
    color:rgb(182, 181, 181)
}

.same-line{
    display: flex;
    align-items: center;
}

.product-price-discount{
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
}

.discount{
    font-size: 1.5rem;
    color: rgb(18, 145, 52);
    font-weight: 400;
    margin-left: 1rem;
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button .add-buy{
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem;
    margin: 0.4rem 0rem;
    border: none;
    border-radius: 4rem;
	width: 80%;

    transition-duration: 0.3s;
}

.buy{
    font-size: 1.2rem;
	font-weight: 700;
	background-color: #1477b2;
	color: var(--white);
}

.add{
	font-size: 1.2rem;
	font-weight: 700;
	background-color: #b9e5ff;
	color: #106ca1;
}

.add-buy:hover{
    background-color: #22285f;
}

.info-title{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.info-subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    border-top: 0.1rem var(--grey) solid;
}
.article-data{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.favorites{  
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1477b2;
}
    
.heart{
    font-size: 2rem;
    margin-right: 0.5rem;
}
.favorites:hover .heart{
    color: red;
}

.button-borrar{
    align-items: center;
	justify-content: center;
	padding: 1rem 1rem;
    margin: 0.4rem 0rem;
    border: none;
    border-radius: 4rem;
	width: 80%;

    transition-duration: 0.3s;
}


@media (min-width:1164px){
    .below-head-bar{
        margin: 9.5rem 25rem 13rem;
    }
}