:root{
    --main-color:rgb(140, 240, 140);
    --white: rgb(255, 255, 255);
    --grey: rgb(230, 222, 222);
    --black:#13131a;
    --bg:#010103;
}

*{
    font-family: 'Montserrat', sans-serif; 
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}
       
html{
    font-size: 62.5%;
    /* Snook trick so rem looks easier to know the amount
    1rem = 10px  1,4rem = 14px */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.background{
    background:url(../images/fondo-verde-mobile.jpg) no-repeat;
    background-size: cover;
}

/*--------------------------------------------*/

.below-head-bar{
    margin: 9.5rem 0 13rem;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
    text-align: center;
}

.register-box{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem 1rem 1rem 1rem;
}

.flex-form-re {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%;  
    justify-content: space-between; */
}

.flex-form-re label {
    font-size: 1.7rem;
}

.flex-form-re .m-top {
    margin-top: 3.5rem;
    width: 100%;
}
.flex-form-re input {
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: grey 0.5px solid;
}


.button-flex{
    display: flex;
    justify-content: space-around;
}


.redirect{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-text{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.redirect-link{
    font-size: 1.5rem;
    border-bottom: blue 1px solid;
}

/* HASTA ACA EL REGISTER DE CELU - MATI */

.login-box{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem 1rem 1rem 1rem;
}

.flex-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flex-form label {
    display: none;
}

.between-space{
    margin-top: 5rem;
    width: 90%;
}

.input {
    border: none;
    width: 90%;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: grey 0.5px solid;
}



.remember{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.remember-text{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.button {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    background-color: #1477b2;
    color: var(--white);
    font-weight: 500;
    height: 3rem;
    width: 100%;
}

button:hover {
    background-color: darkblue;
}

.flex-login-forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remember-mini-text{
    margin-top: 0.8rem;
}



/* HASTA ACA EL LOGIN DE CELU - MATI */


















.flex-header-inicio {
    display: flex;
    justify-content: space-between;
    
}
.flex-header-inicio i {
    font-size: 20px;
    color: grey;
}

.right-navbar {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 8px;
    border-bottom: grey solid 2px;
}

.right-navbar t {
    display: none;
}

header a {
    outline:none;
    text-decoration:none;
}

.flex-titu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
}


/*--------------------------------------------*/

input[type="file"]{
    border: none;
}

/* .tamanoRecordar {
    position: relative;
    width: 100px;
}

.recordarUsuario {
    position: absolute;

    left: -70px;
} */


.hide  {
    border:none;
    background-color: white;
    color: white;
}

.sacar-esto #file-upload-button  {
    border:none;
    background-color: white;
    color: white;
}


body main {
    margin:20px 40px;
}






.registro-inicio {
    margin-top: 30px;
    width: 240px;
}
.registro-inicio p {
    border-bottom: black 1px solid;  
    font-weight: 800;

}

.registrarse-laptop {
    margin-top: 30px;
}

.color-icono {
    color: grey;
    margin-right: 5px;
}
input[type="file"]{
    border: none;
}

.registrarse-laptop {
    display : none
}

.registrarse-laptop-re {
    margin-top: 30px;
}



/*--------------------------------------------*/
.fotos {
    display: none;
}


/*--------------------------------------------*/





button:hover button {
    background-color: darkblue;
}


h2:hover button {
    background-color: darkblue;
}

@keyframes cambio-color {
    0% { color : black}
    50% {color : #000093}
    100% {color: black}
}

h1 {
    animation: cambio-color 3s infinite
}

.cambio-color {
    transition: all, 0.5;
    transition-duration: 0.5s;
    outline:none;
    text-decoration:none;
    color: grey;
}
.cambio-color:hover i {
    color: black;
    
    text-decoration: black;
}
