<!DOCTYPE html>
<html lang="en">

        <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/carrito.css" />
        <script defer src="/js/cart.js"></script>
    </head>

    <%- include("partials/header") %>
    
    <body class="background">
        <main>
            <div class="below-head-bar">

                <h3 class="title">Carrito</h3>
                <div class="cart-box-location">
        
                <div class="cart-box">
                    <div>
                        <div class="cart-flex m-2">
                            <p class="title">Producto</p>
                            <p class="title">Unidades</p>
                            <p class="title">Precio</p>
                        </div>

                        <div class="cart-product-container">
                            <div class="cart-flex color">
                                <div class="cart-info">
                                    <img src="../images/productos/image-1634588336912.jpg">
                                    <div>
                                        <p>Remera Negra</p>
                                        <a href="">Quitar</a>
                                    </div>
                                </div>
                                <input type="number" value="1">
                                <p class="article-price">$500</p>
                            </div>
                        </div>

                        <div class="cart-product-container">
                            <div class="cart-flex color">
                                <div class="cart-info">
                                    <img src="../images/productos/image-1638583832004.jpg">
                                    <div>
                                        <p>Remera Negra</p>
                                        <a href="">Quitar</a>
                                    </div>
                                </div>
                                <input type="number" value="1">
                                <p class="article-price">$500</p>
                            </div>
                        </div>
                        
                        <section class="container-envio">
                            <h2>Informacion de envio</h2>
                            <div>Precio Parcial: 4000</div>
                            <div>Envio: 500</div>
                            <div>Precio Total: 4500</div>
                        </section>
                        <div class="button-location">
                            <button class="button" type="submit" placeholder="Proceder a Pagar">
                                Proceder a pagar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <%- include("partials/footer") %>
        
    </body>
  
</html>


