<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/carrito.css" />
  </head>

  <%- include("partials/header") %>
  <br />
  <h3 class="sec-titles text-carrito">Carrito</h3>
  <div class="container-relative"></div>
  <body class="white">
    <main class="body-carrito">
      <section class="container-opciones flex">
        <div>Item</div>
        <div>Color</div>
        <div>Size</div>
        <div>Qty</div>
        <div>Unit Price</div>
        <div>Total</div>
      </section>
      <article class="descripcion">
        <img src="/images/remera-negra.jpg" alt="" width="35px" />
        <div>Black</div>
        <div>L</div>
        <div>2</div>
        <div>1000</div>
        <div>2000</div>
      </article>
      <article class="descripcion">
        <img src="/images/pantalon.jpg" alt="" width="35px" />
        <div>Beige</div>
        <div>38</div>
        <div>1</div>
        <div>2000</div>
        <div>2000</div>
      </article>
      <section class="container-envio">
        <h2>Informacion de envio</h2>
        <input
          type="number"
          name="codigo-postal"
          id="codigo-postal"
          class="container-envio"
        />
        <label for="codigo-postal">C.P.</label>
        <div>Precio Parcial: 4000</div>
        <div>Envio: 500</div>
        <div>Precio Total: 4500</div>
      </section>
      <div class="container-promo">
        Promo Code:
        <input type="text" name="promo-code" id="promo-code" />
      </div>
      <div class="container-checkout">
        <button type="submit" aria-placeholder="Proceder a Pagar">
          Proceder a pagar
        </button>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
