<form action="/products/create" method="POST" class="desktop-m">
    <label for="name"></label>
    <input type="text" name="name">

    <label for="category" class="create-letter">Categoria</label>
    
        <select name="category" id="category" class="user-answer-select">
            <option value="" disabled selected>Elegí</option>
            <option value="remera">Remera</option>
            <option value="pantalon">Pantalon</option>
            <option value="abrigo">Abrigo</option>
            <option value="calzado">Calzado</option>
            <option value="moda-intima">Moda Intima</option>
            <option value="accesorios">Accesorios</option>
        </select>

        <label for="stock" class="create-letter">Stock</label>
       
            <input
                
                type="number"
                id="stock"
                name="stock"
                placeholder="???"
               
                />
           
                
            <label for="talles" class="create-letter">Talles</label>
           
                <select name="talles" id="talles" class="user-answer-select">
                    <option value="" disabled selected>Elegí talle</option>
                    <option value="xsmall">XS</option>
                    <option value="small">S</option>
                    <option value="medium">M</option>
                    <option value="large">L</option>
                    <option value="xlarge">XL</option>
                </select>
    
 

                <label for="price" class="create-letter">Precio</label>
                            
                                <p class="block-letter-extras2">$</p>
                                <input
                                    
                                    type="number"
                                    id="price"
                                    name="price"
                                    placeholder="???"
                                    required
                                />


                                <label for="discount" class="create-letter">Descuento</label>
                                
                                    <input
                                        
                                        type="text"
                                        id="discount"
                                        name="discount"
                                        placeholder="???"
                                        
                                    />


                                    <label for="envio-gratis" class="create-letter">Envio Gratis</label>
                                    
                                        <select name="enviogratis" id="envio-gratis" class="user-answer-select">
                                            <option value="" disabled selected>???</option>
                                            <option value="envio gratis">Si</option>
                                            <option value="6 cuotas">No</option>
                                        </select>


                                        <label for="description" class="create-letter white">Descripción</label>
                
                    <textarea
                        name="description"
                        id="description"
                        class="description-area"
                    ></textarea>


                    <button type="submit" class="button">
                        Guardar
                    </button>
                    <button type="reset" class="button">
                        Borrar
                    </button>

</form>