<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutuni-Home</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap"
    />

    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <header class="header animation-down">
      <a href="#" class="burguer">
        <img src="images/menu.svg" alt="burguer" class="burguer" />
      </a>

      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#recomendado">recomendado</a>
        <a href="#categorias">categorias</a>
        <a href="#fotos">fotos</a>
      </nav>

      <div class="right-icons">
        <div class="right-icons-tablet">
          <a href="#"
            ><img src="images/buscar-lupa.svg" alt="lupa" class="lupa"
          /></a>
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
        </div>
        <div class="right-icons-mobile">
          <a href="#" class="fas fa-heart"></a>
          <a href="/carrito"
            ><img src="images/carrito.svg" alt="carrito" class="carrito"
          /></a>
        </div>
      </div>
    </header>

    <main>
      <section class="home" id="home">
        <div class="content">
          <p class="novedades animation-down">novedades</p>
          <h4 class="animation-down">20% OFF</h4>
          <p class="product-name animation-down">name of product</p>
          <a href="#" class="button button-color animation-down"
            >ver coleccion</a
          >
        </div>
      </section>

      <section class="recomendado" id="recomendado">
        <h1 class="heading">recomendado <span> para ti </span></h1>

        <div class="box-container">
          <div class="box">
            <a href="#" class="fas fa-heart heart"></a>
            <div class="image">
              <img src="images/recomendado-2.jpg" alt="" />
            </div>
            <div class="content">
              <div class="title">conjunto de invierno</div>
              <div class="diseñador">la señora de la esquina</div>
              <p class="description">
                conjunto casual mujer, incluye beanie, sueter, pantalon de
                jean...
              </p>
              <div class="flex-button">
                <a href="#" class="button button-color">ver producto</a>
              </div>
            </div>
          </div>

          <div class="box">
            <a href="#" class="fas fa-heart heart"></a>
            <div class="image">
              <img src="images/recomendado-1.jpeg" alt="remera-fede" />
            </div>
            <div class="content">
              <div class="title">remera given</div>
              <div class="diseñador">de fede cristaldo</div>
              <p class="description">
                Remera unisex, color blanco y negro, material remera modal ,
                estampado...
              </p>
              <div class="flex-button">
                <a href="#" class="button button-color">ver producto</a>
              </div>
            </div>
          </div>

          <div class="box">
            <a href="#" class="fas fa-heart heart"></a>
            <div class="image">
              <img src="images/recomendado-3.jpg" alt="" />
            </div>
            <div class="content">
              <div class="title">campera sintetica</div>
              <div class="diseñador">el viejo pit</div>
              <p class="description">
                campera gamusa sintetica impermiable para hombre, color caca...
              </p>
              <div class="flex-button">
                <a href="#" class="button button-color">ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="categorias" id="categorias">
        <h1 class="heading"><span> Busca por </span> categorias</h1>

        <nav class="container-opciones">
          <div class="flex-option">
            <div class="container-image">
              <div class="image">
                <img src="images/categoria-remera.jpg" alt="remera" />
              </div>
            </div>
            <a href="#">remeras</a>
          </div>
          <div class="flex-option">
            <div class="container-image">
              <div class="image">
                <img src="images/categoria-pantalon.jpg" alt="pantalon" />
              </div>
            </div>
            <a href="#">
              <p>pantalones</p>
            </a>
          </div>
          <div class="flex-option">
            <div class="container-image">
              <div class="image">
                <img src="images/categoria-abrigo.jpg" alt="abrigo" />
              </div>
            </div>
            <a href="#">abrigos</a>
          </div>
          <div class="flex-option">
            <div class="container-image">
              <div class="image">
                <img src="images/categoria-calzado.jpg" alt="calzado" />
              </div>
            </div>
            <a href="#">calzado</a>
          </div>
          <div class="flex-option">
            <div class="container-image">
              <div class="image">
                <img src="images/categoria-intima.jpg" alt="intima" />
              </div>
            </div>
            <a href="#">moda intima</a>
          </div>
          <div class="flex-option">
            <div class="container-image">
              <div class="image">
                <img src="images/categoria-accesorios.jpg" alt="accesorios" />
              </div>
            </div>
            <a href="#">accesorios</a>
          </div>
        </nav>
      </section>

      <section class="fotos" id="fotos">
        <h1 class="heading">subi tu <span> foto </span></h1>

        <div class="flex-container">
          <div class="image">
            <!-- <img src="images/about-img.jpeg" alt=""> -->
            <img src="images/subi-tu-foto.jpg" alt="" />
          </div>

          <div class="content">
            <h3>¿queres conseguir un descuento?</h3>
            <p>
              Súmate a nuestra familia y subí una foto usando tu prenda o
              articulo comprado, ya sea una remera, un short, o unas zapas y
              conseguí un descuento de hasta 10% o envió gratis.
            </p>
            <h2>¿Por qué?</h2>
            <p>
              Queremos ver como te queda y lo feliz que estas con la compra a su
              vez de ayudar al vendedor con feedback y que el o ella vea que su
              producto llego sano y salvo, y está en las manos de un consumidor
              feliz.
            </p>
            <div class="flex-button">
              <a href="#" class="button color">subi tu foto</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <section class="footer">
      <footer class="gradient-footer">
        <div class="footer-flex">
          <div class="contenedor-footer">
            <a href="/">
              <img src="images/home.svg" alt="home" class="icon-size-home" />
              <p class="footer-text">Inicio</p>
            </a>
          </div>

          <div class="contenedor-footer">
            <a href="/buscar">
              <img
                src="images/buscar-lupa.svg"
                alt="lupa de buscar"
                class="icon-size-lupa"
              />
              <p class="footer-text">Buscar</p>
            </a>
          </div>
          <div class="contenedor-footer">
            <img
              src="images/mi-cuenta.svg"
              alt="logo de perfil"
              class="icon-size-mi-cuenta"
            />
            <p class="footer-text">Mi Perfil</p>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
