<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuTuni-Detalle Producto</title>
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-home.css" />
    <link rel="stylesheet" href="/css/product-detail.css">
</head>
<body>
    
       <header class="position-top-bar">
            <div class="top-bar">
                <img src="images/menu.svg" alt="Menu" class="icon-size-menu">
                <div class="background-tutuni">
                    <h3 class="tutuni">TuTuni</h3>
                </div>
                <div class="container-relative">
                    <a href="/carrito">
                        <img src="/images/carrito.svg" alt="Carrito de compras" class="icon-size-shopping">
                        <p class="quantity-cart">0</p>
                    </a>
                </div>
            </div>
        </header> 
    
    
    
        <main>
          <section>
    <div class="article-detail-main">
                <div><h3 class="product-title">SHORT JOGGING DE POLAR</h3></div>
                <div><img src="/images/short-negro-jogger.JPG" alt="imagen short" width="100%" class="product-image"></div>
            <div class="price">
                <i class="fas fa-dollar-sign"></i> 500 ARS</div>
            <div class="size-container">
                <div class="size-circle">XS</div>
                <div class="size-circle">S</div>
                <div class="size-circle">M</div>
                <div class="size-circle">L</div>
                <div class="size-circle">XL</div>
                <div class="size-circle">XXL</div>
            </div>
            <a href="" class="item-margin"><div class="size-guide"><i class="fas fa-ruler-horizontal"></i> Guía de Talles y Cortes</div></a>
            
            <div class="container-cantidad-añadir">
            
                <select class="select">
            
                    <optgroup label="Cantidad">
            
                        <option value="1">
                            1
                        </option>
                
                        <option value="2">
                            2
                        </option>
                
                        <option value="3">
                            3
                        </option>
                
                        <option value="4">
                            4
                        </option>
                
                        <option value="5">
                            5
                        </option>
            
                    </optgroup>
                </select>
                <a href=""><button class="addtocart-button">Añadir al carrito</button></a>
            </div>
            <a href=""class="item-margin-saveforlater"><div class="saveforlater"><i class="far fa-heart"></i> Guardar en Favoritos</div></a>
                
        
    </div>  
</section>
</main>
    </div>


    

</body>

</html>