<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("partials/head.ejs") %>
    <title>Favoritos</title>
</head>
<body>

    <%- include ("partials/header.ejs") %>

<br><br><br><br><br><br><br><br><br><br>
    <% if (user.products[0]) { %> 
    <% for (let product of user.products) { %> 
        <li>
        <%= product.name %> ---- <a href="/users/profile/likes/delete/<%= product.id %> "><button>borrar</button></a>
        </li>
        <% } %> 
        <% } else { %>

            No tenes likes

            <% } %> 

            
            <br><br><br><br><br><br><br>

        <a href="/users/profile">ir a tu perfil</a>


</body>
</html>