<section class="footer">  
    <footer class="gradient-footer">
        <div class="footer-flex ">
            <div class="contenedor-footer">
                <a href="/">
                    <img src="../../../images/home.svg" alt="home" class="icon-size-home">
                    <p class="footer-text">Inicio</p>
                </a>
            </div>

            <div class="contenedor-footer">
                <a href="/buscar">
                    <img src="../../../images/buscar-lupa.svg" alt="lupa de buscar" class="icon-size-lupa">
                    <p class="footer-text">Buscar</p>
                </a>
            </div>
            <div class="contenedor-footer">
                <a href="/users/profile">
                    <img src="../../../images/mi-cuenta.svg" alt="logo de perfil" class="icon-size-mi-cuenta">
                    <p class="footer-text">Mi Perfil</p>
                </a>
            </div>
        </div>
    </footer>
</section>

   

<!-- <% if (locals.userLogged) { %> 
    <a href="/users/profile">
        <img src="../../images/mi-cuenta.svg" alt="logo de perfil" class="icon-size-mi-cuenta">
    </a>
    <% } else {%>
    <a href="/users/login">
        <img src="../../images/mi-cuenta.svg" alt="logo de perfil" class="icon-size-mi-cuenta">
    </a>
    <% } %>
    <p class="footer-text">Mi Perfil</p>  -->