<header class="header animation-down">
    <figure class="burguer">
        <img src="../../images/menu.svg" alt="burguer" class="burguer">
    </figure>

    <!-- PROBANDO LA BARRA LATERAL DEL BURGUER -->
    <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Crear Cuenta</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/products/create">Crear Productos</a></li>
        </ul>
    </div>
     <!-- PROBANDO LA BARRA LATERAL DEL BURGUER -->
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#recomendado">Recomendado</a>
        <a href="#categorias">Categorias</a>
        <a href="#fotos">Fotos</a>
    </nav>

    <div class="right-icons">
        <div class="right-icons-tablet">
            <a href="#"><img src="../../images/buscar-lupa.svg" alt="lupa" class="lupa"></a>
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>
        <div class="right-icons-mobile">
            <a href="#" class="fas fa-heart"></a>
            <a href="#"><img src="../../images/carrito.svg" alt="carrito" class="carrito"></a>
        </div>
    </div>
</header>