<header class="header animation-down">
  <a href="#" class="burguer">
    <img src="images/menu.svg" alt="burguer" class="burguer" />
  </a>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#recomendado">recomendado</a>
    <a href="#categorias">categorias</a>
    <a href="#fotos">fotos</a>
  </nav>

  <div class="right-icons">
    <div class="right-icons-tablet">
      <a href="#"
        ><img src="images/buscar-lupa.svg" alt="lupa" class="lupa"
      /></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>
    <div class="right-icons-mobile">
      <a href="#" class="fas fa-heart"></a>
      <a href="/carrito"
        ><img src="images/carrito.svg" alt="carrito" class="carrito"
      /></a>
    </div>
  </div>
</header>
